{
  "Servers": {
    "1": {
      "Name": "Cache DB Server",
      "Group": "Servers",
      "Port": 5432,
      "Username": "docker",
      "Host": "cache-db-server",
      "SSLMode": "prefer",
      "MaintenanceDB": "postgres"
    }
  }
}
