GEMFURY_PUSH_TOKEN=27JrtRxxxxxx
BUNDLE_GEM__FURY__IO=44xyxxxx
# VIEW_DATA_DATABASE_URL=postgresql://docker:docker@cache-db-server:5432/cache_db
EVENT_STORE_DATABASE_URL=postgresql://docker:docker@message-store-db-server:5432/message_store
